/**** Reset ****/
    header,
    footer,
    div {
        display: block;
    }
    body{
        font-family: arial;
        font-size:16px;
        line-height:1.2;
        padding:0;
        margin:0;
        background: #efefef;
    }
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }

/**** Common Clases ****/
    .wrap {
        width: 976px;
        margin: 0 auto;
        /*text-align: center;*/
    }
    .pull-left { float: left; }
    .pull-right { float: right; }
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }
    .clearfix:after {
        clear: both;
    }
    .bar{
        display: block;
        width: 1px;
        height: 30px;
        background:#d3d3d3;
    }
    .row { margin: 5px 0;  }
    .btn {
        /* Common Button Styles */
    }

    button{
        border-radius: 5px;
        border:1px;

    }

/**** Forms ****/
    .form-control {
        padding: 0 15px;
        font: 15px;
        line-height: 52px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

/**** Header ****/
    .main-header .main-logo {
        margin: 0;
    }
    .main-header .main-logo a{
        display: inline-block;
        text-decoration: none;
    }
    .main-header {
        background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
        padding: 10px 0;
    }
    .main-header .wrap .main-menu{
        list-style: none;
        text-align: center;
        margin: 15px 0 0 60px;
    }
    .main-header .wrap .main-menu li{
        vertical-align:middle;
        display: inline-block;
        padding:0 10px;
    }
    .main-header .wrap .main-menu li a{
        text-decoration: none;
        color: #417600;
    }

/**** search for rental cars ****/
    .rental-box {
        background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
        padding-bottom: 200px;
    }
    .rental-form{
        display: inline-block;
        margin-top: 35px;
    }
    .rental-form .form-title{
        font-weight: normal;
        color: white;
        text-transform: uppercase;
    }
    .rental-form .form-container{
        background:rgba(255,255,255,.8);
        padding:20px;
        border-radius: 5px;
    }
    .rental-form .rental-location{
        padding: 10px 15px;
        color:#959595;
        border-radius: 5px;
    }
    .rental-box .promo-code{
        padding: 15px 10px;
        background:rgba(255,255,255,.8);
        margin-top: 10px;
        border-radius: 5px;
    }
    .rental-box .promo-code .enter-promo{
        padding: 10px;
        color:#959595;
        border-radius: 5px;
        font-size: 20px;
    }
    .rental-box .promo-code .promocode{
        padding: 18px;
        background:#464646;
        color: white;
        font-weight: bold;
        font-size: 15px;
    }
    .rental-box .search{
        font-size: 28px;
        padding: 20px 130px;
        background:#88c240;
        color: white;
        text-transform: uppercase;
        margin-top: 10px;
    }
    .rental-box .descriptions{
        display: inline-block;
        text-align: center;
        margin-left: 45px;
    }
    .rental-box .descriptions h1{
        font-size: 80px;
        text-transform: uppercase;
        color: white;
        line-height: 1;
        font-weight: normal;
    }
    .rental-box .descriptions h2{
        font-size: 40px;
        color:white;
        line-height: 1;
        font-weight: normal;
    }
    .rental-box .descriptions p{
        color: #959595;
        font-size: 15px;
    }

/**** Footer ****/
    .main-footer{
        padding: 0 0 20px;
        background:#efefef;
        text-align: center;
    }
    .main-footer .long-bar{
        height: 1px;
        width: 977px;
        background: #c2c2c2;
    }
    .main-footer .footer-menu li{
        vertical-align:middle;
        display: inline-block;
        padding:0 5px;
    }
    .main-footer .footer-menu{
        margin-top: 15px;
    }
    .main-footer .footer-menu li a{
        color: #959595;
        text-decoration: none;
    }

/*** Strategic Partners ***/
    .partner{
        background: #88c240;
        text-align: center; 
        padding-bottom: 80px;
        padding-top: 1px;
    }
    .strategic-partners{
        padding: 20px 40px 40px;
        border-radius: 5px;
        background:#f2f2f2;
        margin-top: -190px;
        float: left;
    }
    .strategic-partners h2{
        display: inline-block;
        text-transform: uppercase;
        font-size: 33px;
    }
    .strategic-partners .greenh2{
        font-weight: ;
        color: #88c240;
    }
    .strategic-partners a img{
        display: inline-block;
        padding: 0 5px;
    }
    .perks .pull-top{
        border-radius: 50%;
        float: left;
        margin-top: -90px;
        margin-left: 80px;
    }
    .perks div{
        display: inline-block;
        background:#ffffff;
        padding:0 15px;
        border-radius: 20px;
        width:283px;
        height:277px;
        margin-top: 140px;
        vertical-align: middle;
    }
    .perks{
        margin-top: 140px;
    }
    .perks h1{
        text-transform: uppercase;
        font-weight: normal;
        font-size: 33px;
        color: #464646;
    }
    .perks .first{
        margin-top: 50px;
    }

    /***Subscribe***/
    .subscribe{
        text-align: center;
        background:#464646;
        padding: 80px 0;

    }
    .subscribe .wrap .background{
        background: url(/assets/img/woman.jpg);
    }
    .subscribe .wrap .background img{
        opacity: 0.7;
        float: top;
        margin: 50px 155px 60px;
        

    }
    .subscribe .wrap div{
        display:inline-block;
        border-radius: 20px;
        width:475px;
        height:225px;
        background: #88c240;
        vertical-align: middle;
        
    }
    .subscribe .wrap h2{
        display: inline-block;
        font-size: 43px;
        text-transform: uppercase;
        color: white;
        vertical-align: middle;
    }
    .subscribe .wrap .normal{
        text-transform: none;
        font-weight: normal;
        font-size: 33px;
        display: inline-block;
    }

    .subscribe .btn-subscribe{
        padding: 10px 40px;
        background:#464646;
        color: white;
        margin-top: 10px;

    }
    .subscribe .form-control{
        padding: 0 90px;
        font-size: 21px;
    }

    














